# ========================
# Virtual Environment
# ========================
codecraftvenv

# ========================
# Pycache
# ========================
__pycache__

# ========================
# Environmental Variable
# ========================
.env