{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
  <div class="card shadow-lg p-4">
    <h2 class="text-center mb-4">CODE Craft A.I - Fix Your Code</h2>
    
    {% if fixed_code %}
    <div class="alert alert-success" role="alert">
      <h5 class="text-center">Your Fixed Code:</h5>
    </div>
    <div class="card bg-dark text-white mb-4">
      <div class="card-body p-0">
        <pre class="m-0"><code class="line-numbers language-{{ language }}">{{ fixed_code }}</code></pre>
      </div>
    </div>
    {% endif %}

    <form method="POST" action="{% url 'home' %}">
      {% csrf_token %}
      <div class="mb-3">
        <textarea class="form-control" name="code" placeholder="Paste your code here..." rows="5">{{ code }}</textarea>
      </div>
      <br />

      <select class="form-select form-select-md" name="language" required>
        <option value="" disabled selected>Select Programming Language</option>
        {% for language in language_list %}
        <option value="{{ language }}" {% if language == selected_language %}selected{% endif %}>{{ language|title }}</option>
        {% endfor %}
      </select>
      <br />
      
      <div class="text-center">
        <button type="submit" class="btn btn-primary btn-lg">Fix My Code</button>
      </div>
    </form>
  </div>

  {% if not fixed_code %}
  <div class="mt-5 text-center">
    <h5>Try an Example:</h5>
    <div class="card bg-light text-dark border">
      <div class="card-body p-0">
        <pre class="m-0"><code class="line-numbers language-python">
if name == 'amen': 
    print('Hello Amen') 
else: 
    print('Hello Friend')</code></pre>
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}